@use '../../styles/settings';

.container {
  display: none;
}

.notSupported {
  display: flex;
  color: white;
  line-height: settings.$l-size;
  margin: 0 auto;
  max-width: 60rem;
  text-align: center;
}

@media (min-width: settings.$desktop-breakpoint) {
	.container {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    height: 75rem;
    width: 90rem;
    margin-bottom: settings.$xl-size;
  }
  
  .notSupported {
    display: none;
  }
}
